# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# MCU bin files
*.elf
*.lst
*.bin

# AVR studio folders/extensions ?
*.aps
*.aws
*.d
*.eep
*.hex
*.map
*.lss
**default/
**dep/

# stupid osx stuff
*.DS_Store

# stupid windows stuff
*.db

# python bin
*.pyc
